.container {
  margin: 0 131px;
}
.label {
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}
.description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 15px;
  height: 94%;
  border-radius: 10px;
  transform: translateY(101%);
  transition: transform 0.3s ease;
}
.swiperSlide {
  position: relative;
  display: inline-block;
}

.swiperSlide:hover .description {
  transform: translateY(-41px);
}
