.previewContainer {
  position: relative;
  margin-bottom: 56px;
}
.headingContainer {
  width: 100%;
}
.headingContainer {
  text-align: center;
  margin-bottom: 48px;
}
.title {
  color: #333;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}
.subTitle {
  color: #666;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.ListcardButton {
  border: 1px solid #b88e2f;
  background: #fff;
  width: 245px;
  height: 48px;
  color: #b88e2f;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
